# Core Analytics Self-Guided Tutorial 1

This self-guided tutorial supports ACCTG 522, taught at the Foster School of Buinsess, University of Washington, as part of the MPAcc program. This first tutorial covers generating a set of financial accounting data and stock data for a fictious company "Fictitious Corp" and merging these datasets together. This tutorial uses numpy and pandas modules, which are preinstalled on the cloud based python engine google colab https://colab.research.google.com/ the recommended place to run these tutorials.

### Step 1:

Import necessary libraries: Python libraries NumPy and Pandas are imported to handle numerical operations and data manipulation.

Set a random seed: This ensures that the random numbers generated will be the same each time you run the code, for reproducibility.

Define company details: Basic information about a fictitious company is stored, including the company name, CIK number, and stock ticker symbol.

Define the years of data: We specify that the data will cover the years 2019 to 2024.

Generate random financial data: For each year, random numbers are generated for the company's revenue, net income, total assets, and total liabilities. These are given in millions of dollars.

Create a DataFrame: The generated financial data is organized into a table format (called a DataFrame), where each row corresponds to a year and each column represents a financial metric.

Display the DataFrame: The resulting table of financial data is displayed for review.

This summary simplifies the process, focusing on the main actions in the code.

In [4]:
import numpy as np
import pandas as pd

# Set the random seed for reproducibility
np.random.seed(2025)

# Define the fictitious company details these are stored by python as constants
company_name = "Fictitious Corp"
cik = "0000123456"
ticker_symbol = "FICT"

# Define the years of data
years = np.arange(2019, 2024)

# Generate random financial data for each year
# Let's assume we generate the following metrics: revenue, net income, total assets, and total liabilities

financial_data = {
    "Year": years,
    "Revenue": np.random.randint(500, 2000, size=len(years)) * 1e6,  # in millions
    "Net Income": np.random.randint(50, 500, size=len(years)) * 1e6,  # in millions
    "Total Assets": np.random.randint(1000, 5000, size=len(years)) * 1e6,  # in millions
    "Total Liabilities": np.random.randint(500, 3000, size=len(years)) * 1e6,  # in millions
}

# Convert to a DataFrame
financial_df = pd.DataFrame(financial_data)

# Add the CIK as a new column in the DataFrame
financial_df['CIK'] = cik

# Display the DataFrame
financial_df

,Year,Revenue,Net Income,Total Assets,Total Liabilities,CIK
0,2019,1.074000e+09,328000000.0,4.301000e+09,1.668000e+09,0000123456
1,2020,1.362000e+09,60000000.0,1.407000e+09,1.332000e+09,0000123456
2,2021,8.230000e+08,256000000.0,2.381000e+09,2.409000e+09,0000123456
3,2022,1.735000e+09,403000000.0,2.391000e+09,7.280000e+08,0000123456
4,2023,6.600000e+08,90000000.0,2.236000e+09,1.421000e+09,0000123456

Generate a date range: Create a list of dates representing the end of each month over 5 years, from January 2019 to December 2023.

Set an initial stock price: Start with a random initial price between $50 and $150.

Create a list for prices: Create an empty list to store monthly closing stock prices and add the initial price as the first entry.

Generate future prices: For each subsequent month, calculate the new price by increasing the previous month's price by 1% and adding a small random fluctuation (between -3% and +5%).

Store the data: Combine the generated dates, stock prices, and ticker symbol into a table (DataFrame).

Print the first 12 rows: Display the first 12 rows of the DataFrame to view the initial monthly stock prices.

In [3]:
# Generate a date range for monthly data (5 years, from January 2019 to December 2023)
date_range = pd.date_range(start="2019-01-01", end="2023-12-31", freq='ME')

# Step 1: Set the initial price to be a random value between 50 and 150
initial_price = np.random.uniform(50, 150)

# Step 2: Create an empty list to hold the generated prices
closing_prices = [initial_price]

# Step 3: Generate subsequent prices based on the formula
for _ in range(1, len(date_range)):
    # Calculate the new price as 1.01 times the previous price plus a small random fluctuation
    previous_price = closing_prices[-1]
    random_fluctuation = np.random.uniform(-0.03, 0.05)  # Random number between -3% to +5% of previous price
    new_price = previous_price * 1.01 + (previous_price * random_fluctuation)
    closing_prices.append(new_price)

# Create a DataFrame with the date, closing price, and ticker symbol
stock_data = {
    "Date": date_range,
    "Closing Price": closing_prices,
    "Ticker": ticker_symbol
}

stock_df = pd.DataFrame(stock_data)

# Display the  whole DataFrame by using print(stock_df) i.e., remove the ".head(12)"
# Print the first 12 rows of the DataFrame
print(stock_df.head(12))

         Date  Closing Price Ticker
0  2019-01-31      50.317112   FICT
1  2019-02-28      50.489435   FICT
2  2019-03-31      51.947224   FICT
3  2019-04-30      54.702619   FICT
4  2019-05-31      54.921933   FICT
5  2019-06-30      54.915775   FICT
6  2019-07-31      56.745095   FICT
7  2019-08-31      60.093205   FICT
8  2019-09-30      61.142530   FICT
9  2019-10-31      60.522728   FICT
10 2019-11-30      63.747531   FICT
11 2019-12-31      67.297725   FICT

### Step 3:

Calculate Net Profit Margin: Determine the percentage of revenue that turns into profit by dividing net income by revenue.

Calculate Asset Turnover: Measure how efficiently the company uses its assets to generate revenue by dividing revenue by total assets.

Calculate Total Equity: Calculate equity by subtracting total liabilities from total assets.

Calculate Equity Multiplier: Measure financial leverage by dividing total assets by total equity.

Calculate ROE (Return on Equity): Use the DuPont formula to calculate ROE by multiplying Net Profit Margin, Asset Turnover, and Equity Multiplier.

Display the updated table: Show the updated DataFrame with these calculated metrics for review.

In [5]:
# Ensure financial_df is already created with the required fields
# If not, run the earlier code to create financial_df

# Step 1: Calculate Net Profit Margin
financial_df['Net Profit Margin'] = financial_df['Net Income'] / financial_df['Revenue']

# Step 2: Calculate Asset Turnover
financial_df['Asset Turnover'] = financial_df['Revenue'] / financial_df['Total Assets']

# Step 3: Calculate Equity (assuming Equity = Total Assets - Total Liabilities)
financial_df['Total Equity'] = financial_df['Total Assets'] - financial_df['Total Liabilities']

# Step 4: Calculate Equity Multiplier
financial_df['Equity Multiplier'] = financial_df['Total Assets'] / financial_df['Total Equity']

# Step 5: Calculate ROE using the DuPont formula
financial_df['ROE'] = financial_df['Net Profit Margin'] * financial_df['Asset Turnover'] * financial_df['Equity Multiplier']

# Display the updated DataFrame
financial_df

,Year,Revenue,Net Income,Total Assets,Total Liabilities,CIK,Net Profit Margin,Asset Turnover,Total Equity,Equity Multiplier,ROE
0,2019,1.074000e+09,328000000.0,4.301000e+09,1.668000e+09,0000123456,0.305400,0.249709,2.633000e+09,1.633498,0.124573
1,2020,1.362000e+09,60000000.0,1.407000e+09,1.332000e+09,0000123456,0.044053,0.968017,7.500000e+07,18.760000,0.800000
2,2021,8.230000e+08,256000000.0,2.381000e+09,2.409000e+09,0000123456,0.311057,0.345653,-2.800000e+07,-85.035714,-9.142857
3,2022,1.735000e+09,403000000.0,2.391000e+09,7.280000e+08,0000123456,0.232277,0.725638,1.663000e+09,1.437763,0.242333
4,2023,6.600000e+08,90000000.0,2.236000e+09,1.421000e+09,0000123456,0.136364,0.295170,8.150000e+08,2.743558,0.110429

### Step 4:

Extract the year from the date: Add a new column to the stock data that contains the year from the 'Date' column.

Group data by ticker and year: Organize the stock data by ticker and year, and for each year, capture the last closing price (December close).

Use the prior year’s closing price as the start price: For each year, set the opening price as the last closing price from the previous year by shifting the data down by one row.

Remove incomplete data for the first year: Since the first year doesn’t have a prior year's closing price, remove it from the dataset.

Calculate annual returns: For each year, calculate the annual return based on the difference between the closing price at the end of the year and the start price from the previous year.

Retain the ticker symbol: Ensure that the ticker symbol is kept for each calculation, as this is important when analyzing multiple stocks.

In [6]:
# Step 1: Extract the year from the 'Date' column
stock_df['Year'] = stock_df['Date'].dt.year

# Step 2: Group by year and get the first and last closing price of each year
annual_prices = stock_df.groupby(['Ticker', 'Year']).agg(
    end_price=('Closing Price', 'last')  # Price at the end of the year (December)
).reset_index()

# Step 3: Shift the end price to the next year to use it as the start price
# The opening price of the year is the closing price of the previous year
annual_prices['start_price'] = annual_prices.groupby('Ticker')['end_price'].shift(1)

# Step 4: Drop the first year where we do not have a prior year's closing price
annual_prices.dropna(subset=['start_price'], inplace=True)

# Step 5: Calculate annual returns
annual_prices['Annual Return'] = (annual_prices['end_price'] - annual_prices['start_price']) / annual_prices['start_price']

# Display the DataFrame with annual returns
annual_prices

  Ticker  Year   end_price  start_price  Annual Return
1   FICT  2020   80.219216    67.297725       0.192005
2   FICT  2021  109.868077    80.219216       0.369598
3   FICT  2022  143.881745   109.868077       0.309586
4   FICT  2023  208.125055   143.881745       0.446501

In [7]:
# Step 1: Create a linking table (DataFrame) with CIK and Ticker
linking_df = pd.DataFrame({
    'CIK': ['0000123456'],  # List of CIKs (can include multiple if needed)
    'Ticker': ['FICT']      # Corresponding ticker symbols
})

# Step 2: Merge the financial_df with the linking table to add the ticker to financial data
financial_df = pd.merge(financial_df, linking_df, on='CIK', how='inner')

# Step 3: Now merge the financial_df and annual_prices by 'Year' and 'Ticker'
merged_df = pd.merge(financial_df, annual_prices, on=['Year', 'Ticker'], how='inner')

# Display the merged DataFrame
merged_df


# Step 1: Merge financial_df and annual_prices by 'Year' and 'Ticker'
merged_df = pd.merge(financial_df, annual_prices, on=['Year', 'Ticker'], how='inner')

# Display the merged DataFrame
merged_df

,Year,Revenue,Net Income,Total Assets,Total Liabilities,CIK,Net Profit Margin,Asset Turnover,Total Equity,Equity Multiplier,ROE,Ticker,end_price,start_price,Annual Return
0,2020,1.362000e+09,60000000.0,1.407000e+09,1.332000e+09,0000123456,0.044053,0.968017,7.500000e+07,18.760000,0.800000,FICT,80.219216,67.297725,0.192005
1,2021,8.230000e+08,256000000.0,2.381000e+09,2.409000e+09,0000123456,0.311057,0.345653,-2.800000e+07,-85.035714,-9.142857,FICT,109.868077,80.219216,0.369598
2,2022,1.735000e+09,403000000.0,2.391000e+09,7.280000e+08,0000123456,0.232277,0.725638,1.663000e+09,1.437763,0.242333,FICT,143.881745,109.868077,0.309586
3,2023,6.600000e+08,90000000.0,2.236000e+09,1.421000e+09,0000123456,0.136364,0.295170,8.150000e+08,2.743558,0.110429,FICT,208.125055,143.881745,0.446501

In [8]:
# Sort the merged_df DataFrame by the 'ROE' column in descending order
sorted_df = merged_df.sort_values(by='ROE', ascending=False)

# Display the sorted DataFrame
sorted_df

,Year,Revenue,Net Income,Total Assets,Total Liabilities,CIK,Net Profit Margin,Asset Turnover,Total Equity,Equity Multiplier,ROE,Ticker,end_price,start_price,Annual Return
0,2020,1.362000e+09,60000000.0,1.407000e+09,1.332000e+09,0000123456,0.044053,0.968017,7.500000e+07,18.760000,0.800000,FICT,80.219216,67.297725,0.192005
2,2022,1.735000e+09,403000000.0,2.391000e+09,7.280000e+08,0000123456,0.232277,0.725638,1.663000e+09,1.437763,0.242333,FICT,143.881745,109.868077,0.309586
3,2023,6.600000e+08,90000000.0,2.236000e+09,1.421000e+09,0000123456,0.136364,0.295170,8.150000e+08,2.743558,0.110429,FICT,208.125055,143.881745,0.446501
1,2021,8.230000e+08,256000000.0,2.381000e+09,2.409000e+09,0000123456,0.311057,0.345653,-2.800000e+07,-85.035714,-9.142857,FICT,109.868077,80.219216,0.369598

In [ ]:
# Sort the merged_df DataFrame by the 'ROE' column in descending order
sorted_df = sorted_df.sort_values(by='Year', ascending=False)

# Display the sorted DataFrame
sorted_df

In [ ]:
# Calculate the average of the DuPont ratios
average_net_profit_margin = merged_df['Net Profit Margin'].mean()
average_asset_turnover = merged_df['Asset Turnover'].mean()
average_equity_multiplier = merged_df['Equity Multiplier'].mean()

# Calculate the average ROE
average_roe = merged_df['ROE'].mean()

# Calculate the average annual return
average_annual_return = merged_df['Annual Return'].mean()

# Display the averages
averages = {
    'Average Net Profit Margin': average_net_profit_margin,
    'Average Asset Turnover': average_asset_turnover,
    'Average Equity Multiplier': average_equity_multiplier,
    'Average ROE': average_roe,
    'Average Annual Return': average_annual_return
}

# Convert to DataFrame for a cleaner display
averages_df = pd.DataFrame(averages, index=[0])

averages_df